.t1
{
    display:block;
    width:150px;
    float:left;
    margin-bottom:10px;
}

.war
{
    font-weight: bold;
    color: red;
}

table
{
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

th
{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: crimson;
}

td
{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even)
{
    background-color:cyan;
}